* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

#introduction {
    text-align: center;
}

#education {
    text-align: center;
}

#organizations {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    line-height: 30px;
}

#learn {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#social {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 500px;
    padding: 30px;
}